{
  "client_id": "__AZURE_APP_ID__",
  "authorization_user_agent": "DEFAULT",
  "redirect_uri": "msauth://com.g365calendar/auth",
  "authorities": [
    {
      "type": "AAD",
      "audience": {
        "type": "__AZURE_AUTHORITY_AUDIENCE_TYPE__"__AZURE_TENANT_ID_JSON__
      }
    }
  ],
  "broker_redirect_uri_registered": false,
  "account_mode": "SINGLE"
}